/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4aee8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffaec0;
}
